#header{
    background-color: #333545;
    color: white;
}
.contact_today{
    display: flex;
    position: absolute;
    left: 300px;
    background-color:#4b4c4d;
    color:white;
}
.footer-basic {
    padding:40px 0;
    background-color:#4b4c4d;
    color:white;
  }
  
  .footer-basic ul {
    padding:0;
    display: flex;
    position: relative;
    left: 470px;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    position: relative;
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  #prem{ 
    width: 100%;
    background-color: #2b3148;
    margin-bottom: 5%;
    margin-top: 5%;
  }
  #prem h3{
    width: 90%;
    overflow: hidden;
  }
  #prem section{
    display:flex;
  }
  #prem section figure{
    flex-basis: 20%;
    padding: 10px;
    color: white;
  }
  #prem section figure img{
    border-radius: 20px;
    width: 17vw;
    height: 55vh;
  }
  #catogories{ 
    width: 100%;
  }
  #catogories h3{
    width: 0%;
    overflow: hidden;
  }
  #catogories section{
    display:flex;
    width: 90%;
    margin: 0 6% 0 auto;
  }
  #catogories section figure{
    flex-basis: 20%;
    color: white;
    padding: 10px;
  }
  #catogories section figure img{
    border-radius: 10px;
    width: 17vw;
    height: 40vh;
  }
  #footer-menu{
    transition:all 0.5s ease-in-out;
  }
  #footer-menu:hover{
    color:crimson;
    transition:all 0.5s ease-in-out;
  }